{% extends "quiz/base.html" %}
{% block content %}

    <article class="content-section">
      <div>
        <h2><a class="article-title">FDM</a></h2>
        <p class="article-content">FDM are a Public London based IT company funded in 1991 by Rod Flavell and Julian and Jaqueline Divett. FDM is very well praised for its work in providing careers to people of many different backgrounds such as ex-forces members and has received numerous awards such as Diversity Star Award and Growth Company of the Year award with many more over the past five years. With numerous centres in places such as London, Glasgow, Birmingham and Frankfurt this has given FDM the ability to nurture a diverse and dynamic work environment with the workforce having over 80 different nationalities. </p>
      </div>
    </article>
{% endblock content %}