{% extends "quiz/base.html" %}
{% block content %}

    <article class="content-section">
      <div>
        <h2><a class="article-title">Who is FDM?</a></h2>
        <p class="article-content">FDM is a Public London based IT company founded in 1991 by Rod Flavell and Julian and Jaqueline Divett. FDM is very well praised for its work in providing careers to people of many different backgrounds such as ex-forces members and has received numerous awards such as Diversity Star Award and Growth Company of the Year award with many more over the past five years. With numerous centres in places such as London, Glasgow, Birmingham and Frankfurt this has given FDM the ability to nurture a diverse and dynamic work environment with the workforce having over 80 different nationalities.

            If you would like to find out more about FDM, please check out the official FDM website <a href="https://www.fdmgroup.com/"><strong>here.</strong></a>
        </p>
      </div>
    </article>

    <article class="content-section">
      <div>
        <h2><a class="article-title">Participate in Online Quizzes</a></h2>
          <p class="article-content">Register for an account <a href="{% url 'register' %}"><strong>here</strong></a> and begin answering questions to your heart's content.</p>
      </div>
    </article>

    <article class="content-section">
      <div>
        <h2><a class="article-title">Categories</a></h2>
          <p class="article-content">Feel like you know your stuff about certain topics? Feel free to pick from a range of categories, each having their own unique questions.</p>
      </div>
    </article>

    <article class="content-section">
      <div>
        <h2><a class="article-title">Compete Against Others</a></h2>
          <p class="article-content">Once you complete a quiz you will receive a score in which you can compare with others via a leader board <a href="{% url 'quiz-ranking_table' %}"><strong>here</strong></a> to see just who has the most score and how much you need to overtake them.</p>
      </div>
    </article>

    <article class="content-section">
      <div>
        <h2><a class="article-title">Updates</a></h2>
          <p class="article-content">More categories and questions will be added in the future so make sure to check back often.</p>
      </div>
    </article>

{% endblock content %}