{% extends 'quiz/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Art</h2>
       <form action="POST">
          {% csrf_token %}
            <!--{% for q in questions_list %}
                <br>
                <label class="center-text">{{ q.question_text }}</label>
                <br/>
                {% for c in choice_list %}
                    {% if c.question == q %}
                    <input type="radio" name="{{ q }}" value="{{ c.choice_text }}">
                    <label>{{ c.choice_text }}</label>
                    <br/>
                    {% endif %}
                {% endfor %}
            {% endfor %}-->
           <fieldset class="form-group">
               <h3 class="center-text">Let the Questions Begin</h3>
               {{ form|crispy }}
           </fieldset>
           <div class="form-group">
               <input class="btn btn-success" type="submit" value="Submit" />
           </div>
    </form>
{% endblock content %}