{% extends "quiz/base.html" %}
{% block content %}
    <table class="results">
        <thead>
            <h2>{{ title }}</h2>
        </thead>
       <tr>
           <th>User</th>
           <th>Category</th>
           <th>Score</th>
       </tr>
        {% if user.is_authenticated %}
            {% for score in score_list %}
                <tr>
                    <td>{{ score.username }}</td>
                    <td>{{ score.category }}</td>
                    <td>{{ score.score }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock content %}